Central System/eapli-base/xml/1180723/lots.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="LotCatalogue" type="TLots"/>

	<xsd:complexType name="TLots">
		<xsd:sequence>
			<xsd:element name="Lot" type="TLot" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="TLot">
		<xsd:attribute name="internalCode" type="TInternalCode" use="required"/>
	</xsd:complexType>

	<xsd:simpleType name="TInternalCode">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>